---
layout: base.liquid
---

<div>
  {% include "_back.liquid" %}
  <div>
    <h1 class="mt-2">
      {{ title }}
    </h1>
  </div>
  <small>{{ dateLabel }}
    {% if stars %}
      - {{ stars }}★
    {% endif %}
  </small>
  <p>{{ description }}</p>
</div>

{{ content }}