---
layout: base.liquid
---

<div>
  {% include "_back.liquid" %}
  <h1 class="mt-2">
    {{ title }}
  </h1>

  {% if links.size > 0 %}
    <small>
      [
      {% for link in links %}
        <a href="{{ link.url }}">{{ link.label }}</a>
        {% if forloop.last == false %}
          |
        {% endif %}
      {% endfor %}]
    </small>
  {% endif %}
  <p>{{ description }}</p>
</div>

<article class="space-y-[1rem]">
  {{ content }}
</article>